header {
  @include container;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 7.5rem;
  left: 50%;
  z-index: 999;
  @media screen and (max-width: $m) {
    top: 4.5rem;
  }

  .header-wrap {
    @include flex-row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo-wrap {
      @include flex-row;
      align-items: center;
      gap: 2rem;

      .logo {
        width: 16rem;
        @media screen and (max-width: $m) {
          width: 10rem;
        }
      }

      .seperator {
        height: 4rem;
        width: 0.2rem;
        background: $light;
      }

      .login {
        width: 4rem;
      }
    }
  }
}
