.hamburger-toggler {
  cursor: pointer;
  width: 5.5rem;
  height: 3.3rem;
  background-color: transparent;
  border: none;
  @include flex-column;
  justify-content: space-between;

  &-line {
    height: 0.3rem;
    background-color: $light;
    transition: $transition;
  }
}

// When toggle is active

.nav-toggler {
  .hamburger-toggler {
    &-line {
      &.middle {
        opacity: 0;
        transition: $transition;
      }
      &.outer-up {
        transform: translateY(13px) rotate(-45deg);
      }
      &.outer-down {
        transform: translateY(-15px) rotate(45deg);
      }
    }
  }
}
