.hero-subpage {
  height: 50vh;
  &-wrap {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      @include filter;

      &.object-top {
        object-position: top;
      }
      &.object-center {
        object-position: center;
      }
    }
  }
  &-text {
    position: absolute;
    width: 100%;
    top: 14%;
    @media screen and (max-width: $xxl) {
      top: 15rem;
    }
    &-inner {
      @include container;
    }
  }
}
