.hero {
  height: 108rem;
  @media screen and (max-width: $xxl) {
    height: 100vh;
  }

  .content-wrap {
    position: relative;
    height: 100%;

    @media screen and (max-width: $xxl) {
      height: 100vh;
    }

    .hero-image {
      height: 100%;
      width: 100%;
      @media screen and (max-width: $xxl) {
        height: 100vh;
      }

      img {
        @include filter;
      }
    }

    .text-wrap {
      width: 100%;
      position: absolute;
      top: 24%;

      &_inner {
        @include container;
        h1 {
          span {
            color: $primary;
          }
        }

        h2 {
          color: $light;
          font-weight: 300;
        }
      }
    }
  }
}
