.slider-main {
  @include vertical-space;
  background-color: $secondary;

  .headline-wrap {
    @include flex-column;
    justify-content: center;
    align-items: center;

    h3 {
      color: $light;
    }
  }
  .slider-wrap {
    @include container;

    .slick-list {
      .slick-slide {
        .slider-item {
          background: #000;
          background: $gradient;
          height: 50rem;
          position: relative;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            display: block;
            position: relative;
          }
          h4 {
            color: $light;
            text-transform: uppercase;
            font-weight: 500;
            width: 80%;
            position: absolute;
            bottom: 2rem;
            left: 1.5rem;
          }
        }
      }
    }
  }
  button.slick-arrow {
    height: 4rem;
    width: 4rem;
    &::before {
      display: none;
    }
    img {
      height: 4rem;
      transition: $transition;
    }
    &:hover {
      img {
        transform: scale(1.15);
      }
    }
  }
  .slick-prev {
    left: -6rem;
  }
  .slick-next {
    right: -6rem;
  }
  .outer-item > div {
    margin-right: 3rem;
  }
}
