.text-media {
  @include container;
  @include vertical-space;
  .text-media-wrap {
    display: flex;

    &.image-left {
      flex-direction: row;

      @media screen and (max-width: $l) {
        flex-direction: column;
        .text {
          padding: 0;
          margin-top: 8rem;
        }
      }

      .foreground-image {
        left: 4rem;
        @media screen and (max-width: $l) {
          left: 1rem;
        }
      }
    }
    &.image-right {
      flex-direction: row-reverse;

      .text {
        padding-right: 29rem;
      }

      @media screen and (max-width: $l) {
        flex-direction: column-reverse;
        .text {
          padding: 0;
          margin-top: 8rem;
        }
      }

      .foreground-image {
        right: 4rem;
        @media screen and (max-width: $l) {
          right: 1rem;
        }
      }
      .text {
        padding-left: 0;
      }
    }
    .media {
      flex: 0 0 50%;
      position: relative;

      img {
        width: 100%;
      }

      .foreground-image {
        top: 4rem;
        position: absolute;
        @media screen and (max-width: $l) {
          top: 1rem;
        }
      }
    }
    .text {
      padding: 11rem;
      padding-right: 7rem;
    }
  }
}
