// general container

@mixin container {
  max-width: $boxed;
  margin: 0 auto;
  @media screen and (max-width: $xxl) {
    max-width: 90%;
  }
}

// Flex-Mixins

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// absolute tweaks

@mixin transform-middle {
  transform: translate(-50%, -50%);
}

// Image Sizing

@mixin asp-ratio {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
