// general container

@mixin container {
  max-width: $boxed;
  margin: 0 auto;
  @media screen and (max-width: $xxxl) {
    max-width: 90%;
  }
}

// spacing

@mixin vertical-space {
  padding: 12rem 0;
  @media screen and (max-width: $xl) {
    padding: 6rem 0;
  }
}

// Flex-Mixins

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// absolute tweaks

@mixin transform-middle {
  transform: translate(-50%, -50%);
}

// Image Sizing

@mixin asp-ratio {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Image Filter

@mixin filter {
  filter: grayscale(100) brightness(0.6);
}
