// General
$base-width: 0.8rem;

// Fonts
@import url("https://use.typekit.net/zgp3pvm.css");

$main-font: "azo-sans-web", sans-serif;

// Colors
$primary: #ff2800;
$secondary: #252627;
$tertiary: #706f6f;

$font-color: $secondary;

// Widths

$max: 1200px;

$boxed: 1140px;
