// Fonts
$main-font: "azo-sans-web", sans-serif;

// Colors

$primary: #ff2800;
$secondary: #252627;
$tertiary: #706f6f;

$font-color: $secondary;

$light: #fff;
$dark: #000;

// Widths

$max: 2560px;
$boxed: 1720px;

// Breakpoints

$s: 450px;
$m: 680px;
$l: 900px;
$xl: 1200px;
$xxl: 1480px;
$xxxl: 1620px;

// Transition

$transition: all 0.3s;

// Gradient

$gradient: linear-gradient(
  0deg,
  rgba(37, 38, 39, 1) 0%,
  rgba(37, 38, 39, 0.8688068977591037) 12%,
  rgba(37, 38, 39, 0.7035407913165266) 22%,
  rgba(37, 38, 39, 0.5970982142857143) 36%,
  rgba(37, 38, 39, 0.45143995098039214) 56%,
  rgba(37, 38, 39, 0.2889749649859944) 65%,
  rgba(37, 38, 39, 0) 100%
);

// Color Filter
